---
layout: default
title: Archives
icon: archive
pagination:
    enabled: true
---

<div class="parallax-container">
    <div class="parallax"><img src="{{ '/resources/pictures/big-art.png' | prepend: site.baseurl }}">
    </div>
</div>

<div class="section white">
    <div class="row container">
        <h2 class="header">
            Articles
            <span class="new badge" data-badge-caption="Articles">{{paginator.total_posts}}</span>
            <span class="new badge" data-badge-caption="Pages">{{paginator.total_pages}}</span>
        </h2>
        <p class="grey-text text-darken-3 lighten-3"></p>
    </div>
</div>


<div class="row">
    <div id="archive-body" class="container">
        <div class="col m12">
            <!-- Pagination links -->
            <div class="pagination right-align">
                {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">Latest</a>
                {% else %}
                <span class="previous">Latest</span>
                {% endif %}
                <span class="page_number ">
                    Page: {{ paginator.page }} of {{ paginator.total_pages }}
                </span>
                {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">Previous</a>
                {% else %}
                <span class="next ">Previous</span>
                {% endif %}
            </div>

            <ul class="collection">
                {% for post in paginator.posts %}
                <li class="collection-item avatar">
                    <img src="{{ " /resources/images/" | prepend: site.baseurl }}{{ post.lang | append: '.png' }}"
                        alt="{{post.lang}}" class="circle">
                    <span class="new badge yellow black-text" data-badge-caption="">{{ post.date | date: "%A,
                        %-d/%b/%Y"}}</span>
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <span class="title">{{ post.title }}</span>
                    </a>
                    <br>
                    <br>
                    <div>
                        {% for category in post.categories %}
                        <div class="chip small">{{ category | prepend: '#' | downcase }}</div>
                        {% endfor %}
                    </div>
                    <div style="font-family: 'Source Code Pro', 'Times New Roman', 'Arial'; text-align: justify; font-size: small">
                        {% if post.content contains '<!--more-->' %} 
                        <hr>
                        {{ post.content | split:'<!--more-->' | first }}<br>
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <span>Lanjut membaca...</span>
                        </a>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>

            <!-- Pagination links -->
            <div class="pagination center">
                <ul class="pagination">

                    <li class="waves-effect">
                        <a href="{{ paginator.first_page_path }}" class="first">
                            First
                        </a>
                    </li>

                    {% if paginator.previous_page %}
                        <li class="waves-effect">
                            <a href="{{ paginator.previous_page_path }}" class="previous">
                                Previous
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#!"><span class="previous">Previous</span></a>
                        </li>
                    {% endif %}

                    {% if paginator.page_trail %}
                    {% for trail in paginator.page_trail %}
                    <li {% if page.url==trail.path %}class="active waves-effect" {% endif %}>
                        <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
                    </li>
                    {% endfor %}
                    {% endif %}

                    {% if paginator.next_page %}
                    <li>
                        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <a href="#!"><span class="next">Next</span></a>
                    </li>
                    {% endif %}

                    <li class="waves-effect">
                        <a href="{{ paginator.last_page_path }}" class="last">
                            Last
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>