[submodule "_projects/devops/kubernetes"]
	path = _projects/devops/kubernetes
	url = git@repository.dimas-maryanto.com:youtube/devops/kubernetes.git
[submodule "_projects/devops/docker"]
	path = _projects/devops/docker
	url = git@repository.dimas-maryanto.com:youtube/devops/docker.git
