[submodule "_projects/devops/kubernetes"]
	path = _projects/devops/kubernetes
	url = git@gitlab.dimas-maryanto.com:examples/k8s/belajar-kubernetes.git
[submodule "_projects/devops/docker"]
	path = _projects/devops/docker
	url = git@gitlab.dimas-maryanto.com:examples/docker/belajar-docker.git
[submodule "_projects/database/postgres-14"]
	path = _projects/database/postgres-14
	url = git@gitlab.dimas-maryanto.com:examples/rdbms/belajar-postgresql-14.git
[submodule "_projects/devops/k8s-springboot-microservice"]
	path = _projects/devops/k8s-springboot-microservice
	url = git@gitlab.dimas-maryanto.com:examples/k8s/kubernetes-springboot-microservice-apps.git
[submodule "_projects/devops/k8s-laravel-monolith"]
	path = _projects/devops/k8s-laravel-monolith
	url = git@gitlab.dimas-maryanto.com:examples/k8s/kubernetes-laravel-microservice-apps.git
