title: Materi Bootcamp
subTitle: Software Engineer
author: Dimas Maryanto
jobName: Principal Software Engineer
email: software.dimas_m@icloud.com
description: >- # this means to ignore newlines until "baseurl:"
  Website ini bertujuan untuk memudahkan temen-temen untuk mempelajari 
  suatu teknologi yang berkaitan dengan Profesi IT, Programming, Tips and Trick, System Design dan lain-lain,
  Khususnya dalam Bahasa Pemogramana Java, JavaScript, TypeScript, Angular, ReactJS.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://youtube.dimas-maryanto.com" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
markdown: kramdown

plugins_dir: ./_scripts

kramdown:
  input: GFM
  syntax_highlighter: rouge
gist:
  noscript: false
permalink: /posts/:categories/:title
whitelist: [jekyll-analytics]
plugins:
  - jekyll-gist
  - jekyll-feed
  - kramdown
  - rouge
  - jekyll-youtube
  - jekyll-archives
  - jekyll-sitemap
  - jekyll-paginate
  - jemoji
  - jekyll-minifier
  - jekyll-analytics

jekyll-minifier:
  exclude: 'atom.xml' 

jekyll_analytics:
  GoogleAnalytics:          # Add, if you want to track with Google Analytics
    id: UA-82058496-1       # Required - replace with your tracking id
    anonymizeIp: false      # Optional - Default: false - set to true for anonymized tracking

paginate: 5
paginate_path: /archives/page-:num

jekyll-archives:
  enabled: []
  layout: archive
  permalinks:
    year: '/archives/:year/'
    month: '/archives/:year/:month/'
    day: '/archives/:year/:month/:day/'
    tag: '/archives/tag/:name/'
    category: '/archives/category/:name/'
  
titlecase: false

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - _docker/
  - vendor
  - Gemfile
  - Gemfile.lock
  - package-lock.json
  - package.json
  - README.md
  - CHANGELOG.md
  - CONTRIBUTING.md
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
