---
layout: default
---

<div class="center">
    <img class="responsive-img" src="{{ "/resources/pictures/art.png" | prepend: site.baseurl }}" width="100%"
        height="100%">
</div>

{% assign pages_list = site.data.topics | sort:"publish" %}
{% assign post_list_size = site.posts | size %}

<!-- Modal Structure -->
{% for page_modal in pages_list  %}
{% assign modal_post_list = site.posts | where: "lang", page_modal.url | sort:"date" %}
{% assign modal_post = modal_post_list.first %}
<div id="modal-{{ page_modal.url }}" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>{{ page_modal.name }}</h4>
        <hr>
        <div class="row">
            <div class="col m2">
                <img class="responsive-img" src="{{ "/resources/images/" | prepend: site.baseurl}}{{page_modal.url}}.png">
            </div>
            <div class="col m10 hide-on-small-only">
                <p>{{page_modal.messages }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m5 hide-on-small-only">
                {% if page_modal.catalogs.size >= 1 %}
                <ul class="collapsible with-header" data-collapsible="expandable">
                    <li class="collection-header">
                        <div class="collapsible-header">
                            Daftar Materi
                        </div>
                    </li>
                    {% for catalog in page_modal.catalogs %}
                    {% assign modal_header_title = catalog.name | prepend: '. ' | prepend: forloop.index %}
                    <li>
                        <div class="collapsible-header">
                            {{modal_header_title}}
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                {% assign modal_post_by_catalog = modal_post_list | where: 'catalog_key', catalog.key | sort:"date" %}
                                {% if modal_post_by_catalog.size >= 1 %}
                                    {% for modal_post in modal_post_by_catalog  %}
                                    {% assign modal_post_title = modal_post.title | truncate: 40 |  prepend: '. ' | prepend: forloop.index %}
                                    <li>
                                        <a href="{{ modal_post.url | prepend: site.baseurl }}">{{ modal_post_title }}</a>
                                    </li>
                                    {% endfor %}
                                {% else %}
                                    <li>Materi: belum tersedia...</li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <ul class="collection with-header">
                        <li class="collection-header">Daftar Materi</li>
                        {% if modal_post_list.size >= 1 %}
                            {% for modal_post in modal_post_list %}
                            {% assign modal_post_title = modal_post.title | truncate: 40 |  prepend: '. ' | prepend: forloop.index %}
                            <li class="collection-item">
                                <a href="{{ modal_post.url | prepend: site.baseurl }}">{{ modal_post_title }}</a>
                            </li>
                            {% endfor %}
                        {% else %}
                            <li class="collection-item">Materi: belum tersedia...</li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="col s12 m7">
                <!-- youtube link -->
                <div class="row hide-on-med-and-down">
                    {% if modal_post and modal_post.youtube %}
                        {% include youtubePlayer.html id=modal_post.youtube %}
                    {% else %}
                        Embeded Video: <br>
                        <a href="#!" class="disabled btn btn-flat">belum tersedia...</a>
                    {% endif %}
                </div>
                <!-- article -->
                <div class="row">
                    {% if modal_post.content contains '<!--more-->' %} 
                        {{ modal_post.content | split:'<!--more-->' | first }}<br>
                        <span>
                            <a href="{{ modal_post.url | prepend: site.baseurl }}" class="right">
                                Lanjut membaca...
                            </a>
                        </span>
                    {% endif %}
                </div>

                <div class="row">
                    <!-- repository link -->
                    {% if page_modal.github %}
                        Downloads : <br>
                        <a href="{{ page_modal.github }}" target="_blank" class="btn black" rel="noopener noreferrer">
                            <i class="fa fa-github"></i> Github
                        </a>
                    {% else %}
                        Download: <br>
                        <a href="#!" class="disabled btn btn-flat">belum tersedia...</a>
                    {% endif %}
                </div>
                <br>
                <!-- tags -->
                <hr>
                {% for tag in page_modal.tags %}
                    <div class="chip"><i class="fa fa-tag"></i> {{tag}}</div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn black">
          <i class="material-icons">close</i>
      </a>
    </div>
</div>
{% endfor %}


<div class="row container">
    <br>
    {% assign pages_list_count = pages_list.size %}
    <h5 class="container center">
        <a href="{{ '/pages/roadmap.html' | prepend: site.baseurl }}" rel="noopener noreferrer">
            <span class="new badge" data-badge-caption="Cources">{{pages_list_count}}</span>
        </a>
        <a href="{{ '/pages/articles.html' | prepend: site.baseurl }}" rel="noopener noreferrer">
            <span class="new badge" data-badge-caption="Pages">{{post_list_size}}</span>
        </a>
        Explore
        <br />
        <small>Browse by topic and view available courses</small>
    </h5>
    <br>

    <div class="row">
        {% assign topics = pages_list | where: 'visible', true | sort:"publish" | reverse  %}
        {% for topic in topics limit:3 %}
        {% assign post_list = site.posts | where: "lang", topic.url | sort:"date" %}
        {% assign a_post =  post_list.first %}
        <div class="col s12 m4">
            <div class="card z-depth-3 sticky-action large">
                <div class="card-image {{topic.color}}">
                    {% if topic.coming_soon == false %}
                    <span class="new badge black white-text" data-badge-caption="Pages">{{ post_list | size }}</span>
                    <img class="activator responsive-img" src="{{ "/resources/images/" | prepend: site.baseurl}}{{topic.url}}.png">
                    {% else %}
                    <span class="new badge yellow black-text" data-badge-caption="">Coming soon</span>
                    <img class="responsive-img" src="{{ "/resources/images/" | prepend: site.baseurl}}{{topic.url}}.png">
                    {% endif %}
                    <span class="card-title grey darken-4 white-text">{{topic.name}}</span>
                </div>
                <div class="card-content">
                    <p>
                        {{topic.descriptions}}
                    </p>
                </div>
                <div class="card-action">
                    <!-- show first page of content -->
                    {% if topic.coming_soon == false and a_post %}
                        <a href="{{ a_post.url | prepend: site.baseurl }}" class="tooltipped btn blue-grey lighten-5" data-position="bottom" data-delay="50" data-tooltip="Start Learning">
                            <i class="material-icons green-text">play_arrow</i>
                        </a>
                    {% endif %}

                    <!-- show modal of content -->
                    <a class="modal-trigger btn tooltipped blue-grey lighten-5" href="#modal-{{ topic.url }}" data-position="bottom" data-delay="50" data-tooltip="Preview">
                        <i class="material-icons blue-grey-text lighten-4">library_books</i>
                    </a>

                    {% if topic.udemy %}
                        <a href="{{ topic.udemy }}" class="tooltipped btn red accent-1" data-position="bottom" data-delay="50" data-tooltip="Join Premium Members">
                            <i class="material-icons white-text">lock_open</i>
                        </a>
                    {% endif %}
                </div>
                {% if topic.coming_soon == false %}
                <div class="card-reveal hide-on-med-and-down">
                    <!-- title of card reveal -->
                    <span class="card-title grey-text text-darken-4">
                        {{topic.name}}
                        <i class="material-icons right">close</i>
                    </span>
                    <!-- message card revel -->
                    <p>{{topic.messages}}</p>
                    
                    <!-- tags -->
                    <hr>
                    {% for tag in topic.tags %}
                        <div class="chip"><i class="fa fa-tag"></i> {{tag}}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% assign counter = i | times: 3 %}
        <div class="col s12" >
            <a class="btn waves-effect waves-light blue darken-4" href="{{ '/pages/courses.html' | prepend: site.baseurl }}" rel="noopener noreferrer">
                View more courses...
            </a>
        </div>
    </div>

    <br>
    <hr>
    <h5 class="container center">        
        News
        <br />
        <small>Latest Video Published</small>
    </h5>
    <br>
    <div class="row">
        {% assign news_list = site.data.news | where: 'visible', true | sort:"date" %}

        {% if news_list.size >= 1 %}
        <ul class="collapsible popout" data-collapsible="accordion">
        {% for news in news_list limit:5 %}
            {% assign topic = site.data.topics | where: "url", news.cource | sort:"date" | first %}
            {% assign catalog = topic.catalogs | where: "key", news.catalog | first %}
            <li>
                <span class="new badge yellow black-text" data-badge-caption="">{{ news.date | date: "%A, %d/%m/%Y"}}</span>
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>
                    <!-- <img sizes="100px" 
                        class="circle responsive-img" 
                        src="{{ "/resources/images/" | prepend: site.baseurl}}{{news.cource}}.png"> -->
                        {{ catalog.description }} | {{ topic.name }}
                    </div>
                <div class="collapsible-body">
                    <div class="row">
                        <b>Title:</b> 
                        <a class="title" href="{{ topic.udemy }}">{{ topic.fullname }}</a>
                    </div>
                    <div class="row">
{% highlight html linenos %}
{{ news.markers }}
{% endhighlight %}
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">Belum tersedia update terbaru</div>
                <div class="collapsible-body"><span>Silahkan kembali lagi lain waktu!</span></div>
            </li>
        </ul>
        {% endif %}
    </div>
</div>