{% assign posts = site.posts | where: 'lang', page.lang | sort: 'date' %}
{% assign current_idx = 1 %}
{% assign next_post = null %}
{% assign prev_post = null %}
{% assign first_post = posts | first %}
{% assign last_post = posts | last %}
{% for post in posts %}
{% if post.url == page.url %}
{% assign current_idx = forloop.index %}
{% endif %}
{% endfor %}

{% assign prev_index = current_idx | plus: 1 %}
{% assign next_index = current_idx | minus: 1 %}

{% for post in posts %}
{% if forloop.index == prev_index %}
{% assign next_post = post %}
{% endif %}
{% if forloop.index == next_index %}
{% assign prev_post = post %}
{% endif %}
{% endfor %}

<ul class="pagination hide-on-small-only">
    <!-- goto first page -->
    {% if first_post and first_post.url != page.url %}
    <li class="waves-effect">
        <a href="{{ first_post.url | prepend: site.baseurl }}" class="tooltipped" data-position="bottom" data-delay="50"
            data-tooltip="Ke halaman 1...">
            <i class="material-icons">fast_rewind</i>
        </a>
    </li>
    {% else %}
    <li>
        <a href="#!" class="disabled">
            <i class="material-icons">fast_rewind</i>
        </a>
    </li>
    {% endif %}

    <!-- goto before page -->
    {% if prev_post %}
    <li class="waves-effect">
        <a href="{{ prev_post.url | prepend: site.baseurl }}" class="tooltipped" data-position="bottom" data-delay="50"
            data-tooltip="Ke artikel sebelumnya...">
            <i class="material-icons">chevron_left</i>
        </a>
    </li>
    {% else %}
    <li>
        <a href="#!" class="disabled">
            <i class="material-icons">chevron_left</i>
        </a>
    </li>
    {% endif %}

    <!-- current page info -->
    <li class="active">
        <a href="#!" data-activates="slide-out-materi" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Daftar Materi">
            {{ current_idx }} to {{ posts | size }}
            <span class="badge new blue" data-badge-caption="pages"></span>
        </a>
    </li>

    <!-- goto next page -->
    {% if next_post %}
    <li class="waves-effect">
        <a href="{{ next_post.url | prepend: site.baseurl }}" class="tooltipped" data-position="button-collapse bottom" data-delay="50"
            data-tooltip="Yuk lanjutin bacaanya...">
            <i class="material-icons">chevron_right</i>
        </a>
    </li>
    {% else %}
    <li class="disabled">
        <a href="#!">
            <i class="material-icons">chevron_right</i>
        </a>
    </li>
    {% endif %}

    <!-- goto last page -->
    {% if last_post and last_post.url != page.url %}
    <li class="waves-effect">
        <a href="{{ last_post.url | prepend: site.baseurl }}" class="tooltipped" data-position="bottom" data-delay="50"
            data-tooltip="Ke halaman terakhir...">
            <i class="material-icons">fast_forward</i>
        </a>
    </li>
    {% else %}
    <li>
        <a href="#!" class="disabled">
            <i class="material-icons">fast_forward</i>
        </a>
    </li>
    {% endif %}
</ul>
<br>