---
layout: default
title: Cources
permalink: /pages/courses.html
icon: library_books
---

{% assign pages_list = site.data.topics | where: 'visible', true | sort:"publish" %}
{% assign pages_list_count = pages_list.size %}

<div class="parallax-container">
    <div class="parallax">
        <img src="{{ " /resources/pictures/art.png" | prepend: site.baseurl }}">
    </div>
</div>

<div class="section white">
    <div class="row container">
        <h2 class="header">
            Cources
            <span class="new badge" data-badge-caption="Cources">{{pages_list_count}}</span>
        </h2>
        <p class="grey-text text-darken-3 lighten-3">Learn through online classes</p>
    </div>
</div>

<!-- Modal Structure -->
{% for page_modal in pages_list  %}
{% assign modal_post_list = site.posts | where: "lang", page_modal.url | sort:"date" %}
{% assign modal_post = modal_post_list.first %}
<div id="modal-{{ page_modal.url }}" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>{{ page_modal.name }}</h4>
        <hr>
        <div class="row">
            <div class="col m2">
                <img class="responsive-img" src="{{ "/resources/images/" | prepend: site.baseurl}}{{page_modal.url}}.png">
            </div>
            <div class="col m10 hide-on-small-only">
                <p>
                    {% if page_modal.messages %}
                        {{ page_modal.messages }}
                    {% elsif page_modal.descriptions %}
                        {{ page_modal.descriptions }}
                    {% else %}
                        Belum ada deskripsi
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m5 hide-on-small-only">
                {% if page_modal.catalogs.size >= 1 %}
                <ul class="collapsible with-header" data-collapsible="expandable">
                    <li class="collection-header">
                        <div class="collapsible-header">
                            Daftar Materi
                        </div>
                    </li>
                    {% for catalog in page_modal.catalogs %}
                    {% assign modal_header_title = catalog.name | prepend: '. ' | prepend: forloop.index %}
                    <li>
                        <div class="collapsible-header">
                            {{modal_header_title}}
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                {% assign modal_post_by_catalog = modal_post_list | where: 'catalog_key', catalog.key | sort:"date" %}
                                {% if modal_post_by_catalog.size >= 1 %}
                                    {% for modal_post in modal_post_by_catalog  %}
                                    {% assign modal_post_title = modal_post.title | truncate: 40 |  prepend: '. ' | prepend: forloop.index %}
                                    <li>
                                        <a href="{{ modal_post.url | prepend: site.baseurl }}">{{ modal_post_title }}</a>
                                    </li>
                                    {% endfor %}
                                {% else %}
                                    <li>Materi: belum tersedia...</li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <ul class="collection with-header">
                        <li class="collection-header">Daftar Materi</li>
                        {% if modal_post_list.size >= 1 %}
                            {% for modal_post in modal_post_list %}
                            {% assign modal_post_title = modal_post.title | truncate: 40 |  prepend: '. ' | prepend: forloop.index %}
                            <li class="collection-item">
                                <a href="{{ modal_post.url | prepend: site.baseurl }}">{{ modal_post_title }}</a>
                            </li>
                            {% endfor %}
                        {% else %}
                            <li class="collection-item">Materi: belum tersedia...</li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="col s12 m7">
                <!-- youtube link -->
                <div class="row hide-on-med-and-down">
                    {% if modal_post and modal_post.youtube %}
                        {% include youtubePlayer.html id=modal_post.youtube %}
                    {% else %}
                        Embeded Video: <br>
                        <a href="#!" class="disabled btn btn-flat">belum tersedia...</a>
                    {% endif %}
                </div>
                <!-- article -->
                <div class="row">
                    {% if modal_post.content contains '<!--more-->' %} 
                        {{ modal_post.content | split:'<!--more-->' | first }}<br>
                        <span>
                            <a href="{{ modal_post.url | prepend: site.baseurl }}" class="right">
                                Lanjut membaca...
                            </a>
                        </span>
                    {% endif %}
                </div>

                <div class="row">
                    <!-- repository link -->
                    {% if page_modal.github %}
                        Downloads : <br>
                        <a href="{{ page_modal.github }}" target="_blank" class="btn black" rel="noopener noreferrer">
                            <i class="fa fa-github"></i> Github
                        </a>
                    {% else %}
                        Download: <br>
                        <a href="#!" class="disabled btn btn-flat">belum tersedia...</a>
                    {% endif %}
                </div>
                <br>
                <!-- tags -->
                <hr>
                {% for tag in page_modal.tags %}
                    <div class="chip"><i class="fa fa-tag"></i> {{tag}}</div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn black">
          <i class="material-icons">close</i>
      </a>
    </div>
</div>
{% endfor %}

<div id="cources" class="section white">
    <div class="row container">
        <div class="row">
            <div class="row">
                <div class="input-field col s8">
                    <i class="material-icons prefix">search</i>
                    <input id="search_cources" class="search validate" type="text">
                    <label for="search_cources">Search cources by name</label>
                </div>
                <div class="input-field col s4 right-align">
                    <button class="sort waves-effect waves-light btn" type="button" data-sort="field-name">
                        Sort by name
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="list">
                {% assign topics = pages_list | sort:"publish" | reverse %}
                {% for topic in topics %}
                <li data-topic="{{ topic.name }}">
                    {% assign post_list = site.posts | where: "lang", topic.url | sort:"date" %}
                    {% assign a_post =  post_list.first %}
                    {% assign a_last_post =  post_list.last %}
                    <div class="col s12 m6 l4">
                        <div class="card z-depth-3 sticky-action large hoverable">
                            <div class="card-image {{topic.color}}">
                                <img class="activator responsive-img" 
                                    src="{{ "/resources/cources/banners/" | prepend: site.baseurl}}{{topic.url}}.png">
                                </div>
                            <div class="card-content">
                                {% if topic.coming_soon == true %}                                
                                <span class="new badge yellow black-text" data-badge-caption="Coming soon"></span>
                                {% endif %}
                                <div class="row">
                                    <span class="flow-text truncate">
                                        {% if topic.coming_soon == false %}
                                        <a class="modal-trigger tooltipped" 
                                            href="#modal-{{ topic.url }}" 
                                            data-position="bottom" 
                                            data-delay="50" 
                                            data-tooltip="Preview">
                                            <span class="field-name">
                                                {% if topic.fullname %} {{topic.fullname}} {% else %} {{topic.name}} {% endif %}
                                            </span>
                                        </a>
                                        {% else %} 
                                            <span class="field-name">
                                                {% if topic.fullname %} {{topic.fullname}} {% else %} {{topic.name}} {% endif %}
                                            </span>                                           
                                        {% endif %}                            
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="col m12 l6 s12">
                                        {% if a_last_post.date %}
                                        Last updated: 
                                        <span class="gray-text small">
                                            {{ a_last_post.date | date: "%-d %B %Y" }}
                                        </span>
                                        {% endif %}
                                    </div>
                                    {% if topic.coming_soon == false %}
                                    <div class="col m12 l6 s12">
                                        <blockquote class="right-align">
                                        {% if topic.udemy %}
                                            <span class="flow-text">{{ topic.udemy.discount }}</span><br>
                                            <del class="gray-text">{{ topic.udemy.price }}</del>
                                        {% else %}
                                            <span class="flow-text">Gratis</span>
                                        {% endif %}
                                        </blockquote>                                
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% if topic.udemy %}                        
                            <div class="card-action">
                                <div class="col l6 m12 s12">
                                    CouponCode: <br>
                                    <code><mark>{{ topic.udemy.couponCode }}</mark></code>
                                </div>
                                <div class="col l6 m12 s12 right-align">
                                    <a target="_blank" 
                                        href="{{ topic.udemy.url }}?referralCode={{ topic.udemy.referralCode }}&couponCode={{ topic.udemy.couponCode }}" 
                                        class="tooltipped btn red accent-1" 
                                        data-position="bottom"                            
                                        data-delay="50" 
                                        data-tooltip="Become a Premium Members">
                                            <i class="material-icons white-text">lock_open</i> Join
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            {% if topic.coming_soon == false %}
                            <div class="card-reveal">
                                <!-- title of card reveal -->
                                <span class="card-title grey-text text-darken-4">
                                    {{topic.name}}
                                    <i class="material-icons right">close</i>
                                </span>
                                <div class="row">
                                    <!-- message card revel -->
                                    {% if topic.message %}
                                    <p>{{topic.messages}}</p>
                                    {% else %}
                                    <p>{{ topic.descriptions }}</p>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    {% if a_last_post.date %}
                                    Last updated: 
                                    <code>{{ a_last_post.date | date: "%-d %B %Y" }}</code>
                                    {% endif %}
                                    {% if topic.catalogs %}
                                    <br>
                                    Kurikulum: <code>{{ topic.catalogs.size }}</code>
                                    {% endif %} 
                                    {% if post_list.size >= 1 %}
                                    <br>
                                    Total Materi: <code>{{ post_list.size }}</code>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <!-- tags -->
                                    {% for tag in topic.tags %}
                                    <div class="chip field-tags"><i class="fa fa-tag"></i> {{tag}}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>

<script>
    var options = {
        valueNames: [
            'field-name'
        ],
        page: 10,
        pagination: true
    };

    var userList = new List('cources', options);  
</script>