---
layout: default
title: Cources
permalink: /pages/courses.html
icon: library_books
---

{% assign pages_list = site.data.topics | where: 'visible', true | sort:"publish" %}
{% assign pages_list_count = pages_list.size %}

<div class="parallax-container">
    <div class="parallax"><img src="{{ '/resources/pictures/big-art.png' | prepend: site.baseurl }}">
    </div>
</div>

<div class="section white">
    <div class="row container">
        <h2 class="header">
            Cources
            <span class="new badge" data-badge-caption="Cources">{{pages_list_count}}</span>
        </h2>
        <p class="grey-text text-darken-3 lighten-3">Learn through online classes</p>
    </div>
</div>

<!-- Modal Structure -->
{% for page_modal in pages_list  %}
{% assign modal_post_list = site.posts | where: "lang", page_modal.url | sort:"date" %}
{% assign modal_post = modal_post_list.first %}
<div id="modal-{{ page_modal.url }}" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>{{ page_modal.name }}</h4>
        <hr>
        <div class="row">
            <div class="col m2">
                <img class="responsive-img" src="{{ "/resources/images/" | prepend: site.baseurl}}{{page_modal.url}}.png">
            </div>
            <div class="col m10 hide-on-small-only">
                <p>
                    {% if page_modal.messages %}
                        {{ page_modal.messages }}
                    {% elsif page_modal.descriptions %}
                        {{ page_modal.descriptions }}
                    {% else %}
                        Belum ada deskripsi
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m5 hide-on-small-only">
                {% if page_modal.catalogs.size >= 1 %}
                <ul class="collapsible with-header" data-collapsible="expandable">
                    <li class="collection-header">
                        <div class="collapsible-header">
                            Daftar Materi
                        </div>
                    </li>
                    {% for catalog in page_modal.catalogs %}
                    {% assign modal_header_title = catalog.name | prepend: '. ' | prepend: forloop.index %}
                    <li>
                        <div class="collapsible-header">
                            {{modal_header_title}}
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                {% assign modal_post_by_catalog = modal_post_list | where: 'catalog_key', catalog.key | sort:"date" %}
                                {% if modal_post_by_catalog.size >= 1 %}
                                    {% for modal_post in modal_post_by_catalog  %}
                                    {% assign modal_post_title = modal_post.title | truncate: 40 |  prepend: '. ' | prepend: forloop.index %}
                                    <li>
                                        <a href="{{ modal_post.url | prepend: site.baseurl }}">{{ modal_post_title }}</a>
                                    </li>
                                    {% endfor %}
                                {% else %}
                                    <li>Materi: belum tersedia...</li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <ul class="collection with-header">
                        <li class="collection-header">Daftar Materi</li>
                        {% if modal_post_list.size >= 1 %}
                            {% for modal_post in modal_post_list %}
                            {% assign modal_post_title = modal_post.title | truncate: 40 |  prepend: '. ' | prepend: forloop.index %}
                            <li class="collection-item">
                                <a href="{{ modal_post.url | prepend: site.baseurl }}">{{ modal_post_title }}</a>
                            </li>
                            {% endfor %}
                        {% else %}
                            <li class="collection-item">Materi: belum tersedia...</li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="col s12 m7">
                <!-- youtube link -->
                <div class="row hide-on-med-and-down">
                    {% if modal_post and modal_post.youtube %}
                        {% include youtubePlayer.html id=modal_post.youtube %}
                    {% else %}
                        Embeded Video: <br>
                        <a href="#!" class="disabled btn btn-flat">belum tersedia...</a>
                    {% endif %}
                </div>
                <!-- article -->
                <div class="row">
                    {% if modal_post.content contains '<!--more-->' %} 
                        {{ modal_post.content | split:'<!--more-->' | first }}<br>
                        <span>
                            <a href="{{ modal_post.url | prepend: site.baseurl }}" class="right">
                                Lanjut membaca...
                            </a>
                        </span>
                    {% endif %}
                </div>

                <div class="row">
                    <!-- repository link -->
                    {% if page_modal.github %}
                        Downloads : <br>
                        <a href="{{ page_modal.github }}" target="_blank" class="btn black" rel="noopener noreferrer">
                            <i class="fa fa-github"></i> Github
                        </a>
                    {% else %}
                        Download: <br>
                        <a href="#!" class="disabled btn btn-flat">belum tersedia...</a>
                    {% endif %}
                </div>
                <br>
                <!-- tags -->
                <hr>
                {% for tag in page_modal.tags %}
                    <div class="chip"><i class="fa fa-tag"></i> {{tag}}</div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn black">
          <i class="material-icons">close</i>
      </a>
    </div>
</div>
{% endfor %}

<div id="cources" class="section white">
    <div class="row container">
        <div class="row">
            <div class="row">
                <div class="input-field col s8">
                    <i class="material-icons prefix">search</i>
                    <input id="search_cources" class="search validate" type="text">
                    <label for="search_cources">Search cources by name</label>
                </div>
                <div class="input-field col s4 right-align">
                    <button class="sort waves-effect waves-light btn" type="button" data-sort="field-name">
                        Sort by name
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="list">
                {% assign topics = pages_list | sort:"publish" | reverse %}
                {% for topic in topics %}
                <li data-topic="{{ topic.name }}">
                    {% assign post_list = site.posts | where: "lang", topic.url | sort:"date" %}
                    {% assign a_post =  post_list.first %}
                    {% assign a_last_post =  post_list.last %}
                    <div class="col s12 m12 l6">
                        <div class="card small horizontal hoverable">
                            <div class="card-image">
                                <img class="activator responsive-img" 
                                    src="{{ "/resources/cources/banners/" | prepend: site.baseurl}}{{topic.url}}.png">
                            </div>
                            {% if topic.udemy %}
                            <a target="_blank" 
                                href="{{ topic.udemy.url }}?referralCode={{ topic.udemy.referralCode }}&couponCode={{ topic.udemy.couponCode }}"
                                class="btn-floating halfway-fab btn-large waves-effect tooltipped waves-light red accent-1"
                                data-position="bottom"                            
                                data-delay="50" 
                                data-tooltip="Become a Premium Members">
                                <i class="material-icons white-text">shopping_cart</i>
                            </a>
                            {% endif %}
                            <div class="card-stacked">
                                <div class="card-content">
                                    <div class="row">
                                        {% if topic.coming_soon == false and a_post %}                                        
                                        <a href="#modal-{{ topic.url }}"
                                            class="modal-trigger tooltipped" 
                                            data-position="bottom" 
                                            data-delay="50" 
                                            data-tooltip="Preview">
                                            <span class="field-name flow-text">
                                                {{topic.name}}
                                            </span>
                                        </a>
                                        {% else %}
                                        <span class="field-name flow-text activator">
                                            <span class="new badge yellow black-text" data-badge-caption="comming soon"></span>
                                            {{topic.name}}
                                        </span>
                                        {% endif %}
                                    </div>

                                    <div class="row">
                                        <p class="activator">
                                            {{ topic.descriptions }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <!-- title of card reveal -->
                                <span class="card-title grey-text text-darken-4">
                                    {% if topic.fullname %} {{ topic.fullname }} {% else %} {{topic.name}} {% endif %}
                                    <i class="material-icons right">close</i>
                                </span>
                                <div class="row">
                                    <!-- message card revel -->
                                    {% if topic.messages %}
                                    <p>{{topic.messages}}</p>
                                    {% elsif topic.descriptions %}
                                    <p>{{ topic.descriptions }}</p>
                                    {% else %}
                                    <p>Belum ada deskripsi...</p>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    {% if a_last_post.date %}
                                    Last updated: 
                                    <code>{{ a_last_post.date | date: "%-d %B %Y" }}</code>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    {% if topic.catalogs %}
                                    <br>
                                    Total Materi: <code>{{ post_list.size }}</code>
                                    <br>
                                    <ul class="collection  with-header">
                                        <li class="collection-header">
                                            <span class="badge blue new">{{ topic.catalogs.size }}</span>
                                            <h5>Kurikulum:</h5>
                                        </li>
                                        {% for catalog in topic.catalogs %}
                                        {% assign catalogName = catalog.name | prepend: '. ' | prepend: forloop.index %}
                                        <li class="collection-item">{{ catalogName }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <!-- tags -->
                                    {% for tag in topic.tags %}
                                    <div class="chip"><i class="fa fa-tag"></i> 
                                        <span class="field-tag">{{tag}}</span>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>

<script>
    var options = {
        valueNames: [
            'field-name',
            'field-fullname',
            'field-tag'
        ],
        page: 5,
        pagination: true
    };

    var userList = new List('cources', options);  
</script>