---
layout: default
title: News
permalink: /pages/news.html
icon: announcement
---

<script>
    $(document).ready(function(){
        $('#collapsibleNews').collapsible('open', 0);        
    })
</script>

<div class="container">
    <br>
    <h5 class="center">        
        News
        <br />
        <small>Latest Video Published</small>
    </h5>
    <br>
    <div class="row">
        {% assign news_list = site.data.news | where: 'visible', true | sort:"date" | reverse %}

        {% if news_list.size >= 1 %}
        <ul class="collapsible popout" data-collapsible="expandable" id="collapsibleNews">
        {% for news in news_list %}
            {% assign topic = site.data.topics | where: "url", news.cource | first %}
            {% assign catalog = topic.catalogs | where: "key", news.catalog | first %}
            <li>
                <span class="new badge yellow black-text" data-badge-caption="">{{ news.date | date: "%A, %d/%m/%Y"}}</span>
                <div class="collapsible-header">
                    <i class="material-icons">movie</i>
                    <!-- <img sizes="100px" 
                        class="circle responsive-img" 
                        src="{{ "/resources/images/" | prepend: site.baseurl}}{{news.cource}}.png"> -->
                        {{ catalog.description }} | {{ topic.name }}
                    </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col m6">
                            <b>Title:</b> 
                            <a class="title" href="{{ topic.udemy }}">{{ topic.fullname }}</a>
                        </div>
                        <div class="col m2">
                            <b>Total duration:</b> <pre><code>{{ news.duration }}</code></pre> 
                        </div>
                        <div class="col m2">
                            <b>Member tier:</b> <pre><code>{{ news.tier }}</code></pre>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l8">
                            {% if news.youtube %}
                                {% include youtubePlayer.html id=news.youtube %}
                            {% endif %}
                        </div>
                        <div class="col s12 m6 l4">
                            <b>Table of Contents:</b>
{% highlight html linenos %}
{{ news.markers }}
{% endhighlight %}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">Belum tersedia update terbaru</div>
                <div class="collapsible-body"><span>Silahkan kembali lagi lain waktu!</span></div>
            </li>
        </ul>
        {% endif %}
    </div>
</div>