---
layout: default
title: ROADMAP
permalink: /pages/roadmap.html
icon: assessment
---
{% assign topics = site.data.roadmap %}
<link rel="stylesheet" type="text/css" href="{{ "/assets/timeline.css" | prepend: site.baseurl }}" />

<div class="parallax-container">
    <div class="parallax">
        <img src="{{ "/resources/pictures/roadmap.png" | prepend: site.baseurl }}">
    </div>
</div>

<div class="section white">
    <div class="row container">
      <h2 class="header">Roadmap</h2>
      <p class="grey-text text-darken-3 lighten-3">Learn through online classes and guided learning maps. Level up your skills and jumpstart your career</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="topic-navigation" class="col m12 l3 hide-on-med-and-down">
            <ul class="collection with-header section table-of-contents">
                <li class="collection-item with-header">Topics</li>
                {% for topic in topics %}
                <li class="collection-item">
                    <a href="#{{ topic.code }}">{{ topic.name }}</a>
                    {% if topic.isNew %}
                    <span class="new badge yellow black-text" data-badge-caption="baru"></span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col m12 l9">
            <div>
                {% for topic in topics %}
                <div id="{{ topic.code }}" class="section scrollspy">
                    <h3  class="center">{{ topic.name }}</h3>
                    <p class="">
                        {{ topic.description }}
                    </p>
                    <div class="timeline">
                        {% for course in topic.courses %}
                        {% assign article = site.data.topics | where: 'url', course | first %}
                        {% if article %}
                        {% assign a_post = site.posts | where: 'lang', course | sort: 'date' | first %}
                        <div class="timeline-event">
                            <div class="timeline-content">
                                <ul class="collection z-depth-3">
                                    <li class="collection-item avatar">
                                        {% if article.coming_soon == true %}
                                        <span class="new badge black white-text" data-badge-caption="">Coming Soon</span>
                                        {% endif %}
                                        <img class="responsive-img circle" src="{{ "/resources/images/" | prepend: site.baseurl }}{{course}}.png">
                                        <span class="title"><b>{{article.name}}</b></span>
                                        <p class="grey-text text-lighten-1">{{ article.descriptions | truncate: 150 }}</p>
                                        {% if article.udemy %}
                                            <a href="{{ article.udemy.url }}?referralCode={{ article.udemy.referralCode }}" class="tooltipped btn red accent-1" data-position="bottom" data-delay="50" data-tooltip="Become a Premium Members">
                                                <i class="material-icons white-text">lock_open</i> Join Premium Class
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                            <div class="timeline-badge blue white-text">
                                <!-- show first page of content -->
                                {% if article.coming_soon == false and a_post %}
                                <a href="{{ a_post.url | prepend: site.baseurl }}" class="tooltipped white-text waves-effect waves-block waves-light" data-position="left" data-delay="50" data-tooltip="Start Learning">
                                    <i class="material-icons">launch</i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %} 
                        {% endfor %}       
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="fixed-action-btn click-to-toggle hide-on-large-only">
        <a href="#" data-activates="slide-out-roadmap" class="btn-floating btn-large waves-effect waves-light red button-collapse">
            <i class="large material-icons">menu</i>
        </a>
    </div>
</div>

<ul id="slide-out-roadmap" class="side-nav">
    <li>
        {% include side-nav/profile.html %}
    </li>
    <li>
        <a href="{{ "/" | prepend : site.baseurl }}">
            <i class="material-icons left">home</i> {{site.title}}
        </a>
    </li>

    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a class="subheader">To becomming a</a>
    </li>
    {% for topic in topics %}
    <li>
        <a href="#{{ topic.code }}">{{ topic.name }}</a>
    </li>
    {% endfor %}

    <li>
        <div class="divider"></div>
    </li>

    {% include side-nav/pages.html %}

    <li>
        <div class="divider"></div>
    </li>
    
    {% include side-nav/socials.html %}
    
    <li>
        <div class="divider"></div>
    </li>

    {% include side-nav/others.html %}
</ul>